In [3]:
# data organization libraries
import numpy as np
import pandas as pd

# data visualization libraries
import plotly.express as px
import matplotlib.pyplot as plt

# modeling libraries
from sklearn.linear_model import LinearRegression

In [4]:
fires = pd.read_csv('simple_fire.csv')

fires.head()

   X  Y month  day  temp  wind  rain  area
0  7  5   mar  fri   8.2   6.7   0.0   0.0
1  7  4   oct  tue  18.0   0.9   0.0   0.0
2  7  4   oct  sat  14.6   1.3   0.0   0.0
3  8  6   mar  fri   8.3   4.0   0.2   0.0
4  8  6   mar  sun  11.4   1.8   0.0   0.0

In [8]:
# change month/day to numbers
weekdaystr2num = {
    'sun': 0,
    'mon': 1,
    'tue': 2,
    'wed': 3,
    'thu': 4,
    'fri': 5,
    'sat': 6
}

monthstr2num = {
    'jan': 1,
    'feb': 2,
    'mar': 3,
    'apr': 4,
    'may': 5,
    'jun': 6,
    'jul': 7,
    'aug': 8,
    'sep': 9,
    'oct': 10,
    'nov': 11,
    'dec': 12
}

##### START #####
fires['day'] = fires['day'].replace(weekdaystr2num)
fires['month'] = fires['month'].replace(monthstr2num)
##### END #####

fires.head()

   X  Y  month  day  temp  wind  rain  area
0  7  5      3    5   8.2   6.7   0.0   0.0
1  7  4     10    2  18.0   0.9   0.0   0.0
2  7  4     10    6  14.6   1.3   0.0   0.0
3  8  6      3    5   8.3   4.0   0.2   0.0
4  8  6      3    0  11.4   1.8   0.0   0.0

In [9]:
#create naive model
# need to split data into X(features) and y(response)

In [10]:
X_df = fires.iloc[:, [0,1,2,3,4,5,6]]

X_df.head()

   X  Y  month  day  temp  wind  rain
0  7  5      3    5   8.2   6.7   0.0
1  7  4     10    2  18.0   0.9   0.0
2  7  4     10    6  14.6   1.3   0.0
3  8  6      3    5   8.3   4.0   0.2
4  8  6      3    0  11.4   1.8   0.0

In [11]:
y_df = fires.iloc[:, [7]]

y_df.head()

   area
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0

In [12]:
X = X_df.to_numpy()

X

array([[ 7. ,  5. ,  3. , ...,  8.2,  6.7,  0. ],
       [ 7. ,  4. , 10. , ..., 18. ,  0.9,  0. ],
       [ 7. ,  4. , 10. , ..., 14.6,  1.3,  0. ],
       ...,
       [ 2. ,  4. ,  8. , ..., 21.9,  5.8,  0. ],
       [ 7. ,  4. ,  8. , ..., 21.2,  6.7,  0. ],
       [ 1. ,  4. ,  8. , ..., 25.6,  4. ,  0. ]])

In [13]:
y = y_df.to_numpy()

y

array([[0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [3.60000e-01],
       [4.30000e-01],
       [4.70000e-01],
       [5.50000e-01],
       [6.10000e-01],
       [7.10000e-01],
       [7.70000e-01],
       [9.00000e-01],
       [9.50000e-01],
       [9.60000e-01],
       [1.07000e+00],
       [1.12000e+00],
       [1.19000e+00],
       [1.36000e+00],
       [1.43000e+00],
       [1.46000e+00],
       [1.46000e+00],
       [1.56000e+00],
       [1.61000e+00],
       [1.63000e+00],
       [1.64000e+00],
       [1.69000e+00],
       [1.75000e+00],
       [1.90000e+00],
       [1.94000e+00],
       [1.95000e+00],
       [2.01000e+00],
       [2.14000e+00],
       [2.29000e+00],
       [2.51000e+00],
       [2.53000e+00],
       [2.55000e+00],
       [2.57000e+00],
       [2.69000e+00],
       [2.74000e+00],
       [3.07000e+00],
       [3.50000e+00],
       [4.53000e+00],
       [4.61000e+00],
       [4.69000e+00],
       [4.88000e+00],
       [5.23000e+00],
       [5.33000e+00],
       [5.44000e+00],
       [6.38000e+00],
       [6.83000e+00],
       [6.96000e+00],
       [7.04000e+00],
       [7.19000e+00],
       [7.30000e+00],
       [7.40000e+00],
       [8.24000e+00],
       [8.31000e+00],
       [8.68000e+00],
       [8.71000e+00],
       [9.41000e+00],
       [1.00100e+01],
       [1.00200e+01],
       [1.09300e+01],
       [1.10600e+01],
       [1.12400e+01],
       [1.13200e+01],
       [1.15300e+01],
       [1.21000e+01],
       [1.30500e+01],
       [1.37000e+01],
       [1.39900e+01],
       [1.45700e+01],
       [1.54500e+01],
       [1.72000e+01],
       [1.92300e+01],
       [2.34100e+01],
       [2.42300e+01],
       [2.60000e+01],
       [2.61300e+01],
       [2.73500e+01],
       [2.86600e+01],
       [2.86600e+01],
       [2.94800e+01],
       [3.03200e+01],
       [3.17200e+01],
       [3.18600e+01],
       [3.20700e+01],
       [3.58800e+01],
       [3.68500e+01],
       [3.70200e+01],
       [3.77100e+01],
       [4.85500e+01],
       [4.93700e+01],
       [5.83000e+01],
       [6.41000e+01],
       [7.13000e+01],
       [8.84900e+01],
       [9.51800e+01],
       [1.03390e+02],
       [1.05660e+02],
       [1.54880e+02],
       [1.96480e+02],
       [2.00940e+02],
       [2.12880e+02],
       [1.09084e+03],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [1.01300e+01],
       [0.00000e+00],
       [2.87000e+00],
       [7.60000e-01],
       [9.00000e-02],
       [7.50000e-01],
       [0.00000e+00],
       [2.47000e+00],
       [6.80000e-01],
       [2.40000e-01],
       [2.10000e-01],
       [1.52000e+00],
       [1.03400e+01],
       [0.00000e+00],
       [8.02000e+00],
       [6.80000e-01],
       [0.00000e+00],
       [1.38000e+00],
       [8.85000e+00],
       [3.30000e+00],
       [4.25000e+00],
       [1.56000e+00],
       [6.54000e+00],
       [7.90000e-01],
       [1.70000e-01],
       [0.00000e+00],
       [0.00000e+00],
       [4.40000e+00],
       [5.20000e-01],
       [9.27000e+00],
       [3.09000e+00],
       [8.98000e+00],
       [1.11900e+01],
       [5.38000e+00],
       [1.78500e+01],
       [1.07300e+01],
       [2.20300e+01],
       [9.77000e+00],
       [9.27000e+00],
       [2.47700e+01],
       [0.00000e+00],
       [1.10000e+00],
       [2.42400e+01],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [8.00000e+00],
       [2.64000e+00],
       [8.64500e+01],
       [6.57000e+00],
       [0.00000e+00],
       [9.00000e-01],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [3.52000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [4.10000e-01],
       [5.18000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [1.42900e+01],
       [0.00000e+00],
       [0.00000e+00],
       [1.58000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [3.78000e+00],
       [0.00000e+00],
       [4.41000e+00],
       [3.43600e+01],
       [7.21000e+00],
       [1.01000e+00],
       [2.18000e+00],
       [4.42000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [3.33000e+00],
       [6.58000e+00],
       [1.56400e+01],
       [1.12200e+01],
       [2.13000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [5.60400e+01],
       [7.48000e+00],
       [1.47000e+00],
       [3.93000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [2.18000e+00],
       [6.10000e+00],
       [5.83000e+00],
       [2.81900e+01],
       [0.00000e+00],
       [0.00000e+00],
       [1.64000e+00],
       [3.71000e+00],
       [7.31000e+00],
       [2.03000e+00],
       [1.72000e+00],
       [5.97000e+00],
       [1.30600e+01],
       [1.26000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [8.12000e+00],
       [1.09000e+00],
       [3.94000e+00],
       [5.20000e-01],
       [2.93000e+00],
       [5.65000e+00],
       [2.00300e+01],
       [1.75000e+00],
       [0.00000e+00],
       [1.26400e+01],
       [0.00000e+00],
       [1.10600e+01],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [1.83000e+01],
       [3.93500e+01],
       [0.00000e+00],
       [1.74630e+02],
       [0.00000e+00],
       [7.73000e+00],
       [1.63300e+01],
       [5.86000e+00],
       [4.28700e+01],
       [1.21800e+01],
       [1.60000e+01],
       [2.45900e+01],
       [0.00000e+00],
       [2.87400e+01],
       [0.00000e+00],
       [9.96000e+00],
       [3.01800e+01],
       [7.07600e+01],
       [0.00000e+00],
       [0.00000e+00],
       [5.17800e+01],
       [3.64000e+00],
       [3.63000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [8.16000e+00],
       [4.95000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [6.04000e+00],
       [0.00000e+00],
       [3.95000e+00],
       [0.00000e+00],
       [7.80000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [4.62000e+00],
       [1.63000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [7.46280e+02],
       [7.02000e+00],
       [0.00000e+00],
       [2.44000e+00],
       [3.05000e+00],
       [1.85760e+02],
       [0.00000e+00],
       [6.30000e+00],
       [7.20000e-01],
       [4.96000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [2.35000e+00],
       [0.00000e+00],
       [3.20000e+00],
       [0.00000e+00],
       [6.36000e+00],
       [0.00000e+00],
       [1.53400e+01],
       [0.00000e+00],
       [0.00000e+00],
       [5.40000e-01],
       [0.00000e+00],
       [6.43000e+00],
       [3.30000e-01],
       [0.00000e+00],
       [1.23000e+00],
       [3.35000e+00],
       [0.00000e+00],
       [9.96000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [6.43000e+00],
       [9.71000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [8.27500e+01],
       [3.32000e+00],
       [1.94000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [3.71000e+00],
       [5.39000e+00],
       [2.14000e+00],
       [6.84000e+00],
       [3.18000e+00],
       [5.55000e+00],
       [6.61000e+00],
       [6.11300e+01],
       [0.00000e+00],
       [1.94000e+00],
       [7.03200e+01],
       [1.00800e+01],
       [3.19000e+00],
       [1.76000e+00],
       [7.36000e+00],
       [2.21000e+00],
       [2.78530e+02],
       [2.75000e+00],
       [0.00000e+00],
       [1.29000e+00],
       [0.00000e+00],
       [2.64300e+01],
       [2.07000e+00],
       [2.00000e+00],
       [1.64000e+01],
       [4.67000e+01],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [4.33200e+01],
       [8.59000e+00],
       [0.00000e+00],
       [2.77000e+00],
       [1.46800e+01],
       [4.05400e+01],
       [1.08200e+01],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [1.95000e+00],
       [4.95900e+01],
       [5.80000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [2.17000e+00],
       [4.30000e-01],
       [0.00000e+00],
       [6.44000e+00],
       [5.42900e+01],
       [1.11600e+01],
       [0.00000e+00]])

In [14]:
# now that we have X and y, lets build our model and train it
naive_mod = LinearRegression().fit(X, y)

In [ ]:
y_hat = naive_mod.predict()