In [1]:
# data organization libraries
import numpy as np
import pandas as pd
# viz
import matplotlib.pyplot as plt
import seaborn as sns
# modeling libraries
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [2]:
# get raw data
raw_df = pd.read_csv('raw_df.csv')

raw_df.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,area_cat,temp_bins
0,1,2,8,5,91.0,166.9,752.6,7.1,25.9,41,3.6,0.0,0.00,0-5,>25
1,5,4,8,2,95.1,141.3,605.8,17.7,26.4,34,3.6,0.0,16.40,10-50,>25
2,6,5,8,3,92.1,111.2,654.1,9.6,16.6,47,0.9,0.0,2.29,0-5,15-20
3,6,3,8,4,91.6,138.1,621.7,6.3,18.9,41,3.1,0.0,10.34,10-50,15-20
4,4,5,8,0,90.2,99.6,631.2,6.3,21.4,33,3.1,0.0,0.00,0-5,20-25

In [7]:
# select features
X_df = raw_df.iloc[:, [0,1,2,3,8,9,10,11]]

X_df.head()

   X  Y  month  day  temp  RH  wind  rain
0  1  2      8    5  25.9  41   3.6   0.0
1  5  4      8    2  26.4  34   3.6   0.0
2  6  5      8    3  16.6  47   0.9   0.0
3  6  3      8    4  18.9  41   3.1   0.0
4  4  5      8    0  21.4  33   3.1   0.0

In [9]:
y_df = raw_df.iloc[:, [12]]

y_df.head()

    area
0   0.00
1  16.40
2   2.29
3  10.34
4   0.00

In [13]:
# convert df to array
X = X_df.to_numpy()
y = y_df.to_numpy()
y = y.flatten()

In [14]:
# split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=0)

In [15]:
# train
X_train.shape, y_train.shape

((2121, 8), (2121,))

In [16]:
# fit train
model = LinearRegression().fit(X_train, y_train)

# predict
y_hat = model.predict(X_test)

In [17]:
# error
error = mean_squared_error(y_test, y_hat)

error

200.9568060207651